%br
%br
- if producthunt_launched?
  %a(href="https://www.producthunt.com/posts/bungo-search?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-bungo-search" target="_blank")
    %amp-img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=209599&theme=light" alt="Bungo Search - Search free e-books by Time-to-Read from Project Gutenberg | Product Hunt Embed" width="250px" height="54px" layout='responsive')
  %br

%h4.ui.header
  %i.far.fa-clock
  = t '.minutes_to_read'
.ui.segment
  .ui.divided.very.relaxed.link.list
    - @categories.each do |category_id, category|
      = link_to author_category_books_path(author_id: 'all', category_id: category[:id]), class: 'item' do
        = category[:name]
        .right.floated.content
          %small
            = category[:books_count].to_s(:delimited)
            = t '.items'
%br

%h4.ui.header
  %i.far.fa-user
  = t '.popular_authors'
.ui.segment
  .ui.divided.very.relaxed.link.list
    - @authors.each do |author, sum_access_count|
      = link_to author_category_books_path(author_id: author[1], category_id: 'all'), class: 'item' do
        = Book.author_name(author[0])
%br
%br

%h4.ui.header
  %i.fas.fa-gift
  = t '.support_creator'
= link_to 'https://www.buymeacoffee.com/bungomail', target: :_blank, rel: 'noopener' do
  %amp-img(src="https://cdn.buymeacoffee.com/buttons/default-orange.png" width="144" height="34" alt="Buy me a coffee" layout="responsive")
%br
%br
