.mb-8
  %h1.font-bold.text-2xl
    アカウント設定

.mb-16
  .mb-4.text-sm.bg-gray-100.rounded.px-4.py-2
    = current_user.email
  %dl.flex.items-center.space-x-2.ml-4
    %dt.text-gray-500.text-sm
      現在のプラン:
    %dd.font-bold
      = current_user.plan_before_type_cast.camelize

- if @customer_portal_url
  .mb-16
    %h5.font-bold.text-lg.mb-4.pb-2.border-b
      お支払い情報の管理
    %div.mb-4
      = link_to  @customer_portal_url, target: :_blank, class: "flex lg:inline-flex items-center space-x-1 bg-indigo-600 text-white rounded px-4 py-3 hover:opacity-75" do
        %span 支払情報管理ページを開く
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25")

    .mb-4.text-sm
      .mb-2 リンク先のページでは、以下の操作が可能です。
      %ul.list-disc.list-inside
        %li クレジットカード情報の登録・更新
        %li お支払履歴の確認
        %li お支払いの停止（キャンセル）

.mb-16(data-controller="webpush" data-webpush-vapid-value="#{Rails.application.credentials.dig(:vapid, :public_key)}")
  .flex.items-end.mb-4.pb-2.border-b.justify-between
    %h5.font-bold.text-lg
      プッシュ通知の設定
    = link_to "https://notsobad-jp.notion.site/86691ddb571e4ddb8b2c234e6751dcde", class: "text-link flex items-center space-x-1 text-sm", target: :_blank do
      %span 設定方法
      %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
        %path(stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25")
  - if current_user.fcm_device_token.present?
    .mb-4
      ✅ 通知設定が完了しています。
    %div(class="mb-4 flex flex-col sm:flex-row sm:items-center space-x-0 sm:space-x-4 space-y-4 sm:space-y-0")
      %div(data-action="click->webpush#unsubscribe" class="cursor-pointer inline-flex items-center space-x-1 border border-red-700 text-red-700 rounded px-4 py-3 hover:opacity-75")
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12")
        %span 通知設定を解除する
      = link_to webpush_test_user_path, data: { "turbo-method": :post }, remote: true, class: "inline-flex items-center space-x-1 border rounded px-4 py-3 hover:opacity-75" do
        %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
          %path(stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5")
        %span 通知をテストする
  - else
    %div.mb-4
      %div(data-action="click->webpush#subscribe" class="cursor-pointer flex lg:inline-flex items-center space-x-1 bg-indigo-600 text-white rounded px-4 py-3 hover:opacity-75")
        この端末を通知先として登録する
  .mb-4.text-sm.leading-7
    ※iPhoneをお使いの場合、Safariの通知許可に加えて「ホーム画面に追加」も必要です。またiOS/Safariのバージョンも16.4以上である必要があります。
    = link_to "https://notsobad-jp.notion.site/86691ddb571e4ddb8b2c234e6751dcde", class: "text-link inline-flex items-center space-x-1", target: :_blank do
      %span 詳しくはこちら
      %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
        %path(stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25")
