#lp
  %section#header.seigaiha
    %br.computer.only
    .ui.centered.stackable.grid.container
      .ui.two.column.row
        .right.aligned.column
          %h1
            = image_tag('logo.png', alt: t(:bungo_mail, scope: [:mailing, :defaults]), class: 'ui medium centered image')
          %br
        .left.aligned.column
          .ui.huge.header
            １日３分のメールで、
            %br.computer.only
            ムリせず毎月本が読める。
            .sub.header
              青空文庫の作品を小分けにして、毎朝メールで配信。
              %br.computer.only
              気づいたら毎月1冊本が読めてしまう、
              %br.computer.only
              忙しいあなたのための読書サポートサービスです。
          .mb-10
            = link_to 'https://goo.gl/forms/oOWiGUaqMckVXgBk2', target: :_blank, class: 'ui blue large responsive button' do
              メールアドレスを登録する
              %small （無料）


  %section.ui.centered.stackable.grid.container
    .ui.three.column.row
      .center.aligned.column
        = image_tag('lp/feature/1.png', alt: 'feature_1')
        %h3.ui.header
          最近、仕事以外の本読みました？
        %p
          忙しいと、すぐに役立つ知識ばかり仕入れがち。なかなか仕事以外の本を読む時間が取れなかったりしませんか。
      .center.aligned.column
        = image_tag('lp/feature/2.png', alt: 'feature_2')
        %h3.ui.header
          でも毎日メールは読んでますよね
        %p
          じゃあそのメールで本が読めたらどうでしょう。1〜3分程度のメールが1通増えるだけなので大丈夫。あなたならきっと読めます。
      .center.aligned.column
        = image_tag('lp/feature/3.png', alt: 'feature_3')
        %h3.ui.header
          せっかくなら教養になる名作を
        %p
          名前は知ってるけど読んでなかった名作、青空文庫にはいっぱいあります。普段自分では選ばない本を読めるのもいいものです。

  %section.ui.container
    .ui.stackable.two.cards
      .ui.card
        .image
          = image_tag("lp/screenshot/detail.png", class: 'ui image')
      %br.mobile.table.only
      .ui.card
        .image
          = image_tag("lp/screenshot/list.png", class: 'ui image')

    .ui.basic.center.aligned.segment
      メールは文豪の名前で届くので、受信箱がたのしい感じになります。


  .ui.mini.divider

  %section.ui.center.aligned.container
    %h2.ui.huge.header
      たとえば、1年でこれだけ本が読めます
    %p.sub.header
      1日3分のメールを読み続けるだけで、1年ではこれだけの作品を読むことができます。
      %br.computer.only
      （あくまで一例なので、実際に配信する内容とは異なります）
    %br
    .ui.four.doubling.cards
      .ui.violet.card
        .content
          %p.header 芥川龍之介
          .meta 藪の中
      .ui.violet.card
        .content
          %p.header 萩原朔太郎
          .meta 月に吠える
      .ui.violet.card
        .content
          %p.header 新美南吉
          .meta ごん狐
      .ui.violet.card
        .content
          %p.header 坂口安吾
          .meta 堕落論
      .ui.violet.card
        .content
          %p.header 太宰治
          .meta ヴィヨンの妻
      .ui.violet.card
        .content
          %p.header 宮沢賢治
          .meta 銀河鉄道の夜
      .ui.violet.card
        .content
          %p.header カフカ
          .meta 断食芸人
      .ui.violet.card
        .content
          %p.header 森鴎外
          .meta 高瀬舟
      .ui.violet.card
        .content
          %p.header 夏目漱石
          .meta 夢十夜
      .ui.violet.card
        .content
          %p.header 中島敦
          .meta 山月記
      .ui.violet.card
        .content
          %p.header 泉鏡花
          .meta 外科室
      .ui.violet.card
        .content
          %p.header 林芙美子
          .meta 風琴と魚の町
    .ui.basic.center.aligned.segment
      = link_to books_list_path(CampaignGroup::LIST_ID, year: 2018) do
        %i.icon.chevron.right
        これまでの配信作品一覧はこちら

  .ui.mini.divider

  %section.ui.container
    %h2.ui.huge.center.aligned.header
      みんなの感想
    %br
    .ui.scrolling.four.cards
      .ui.card
        .content
          短くて読みやすい…！ささっと読めるちょうどいい長さだから毎日続けられそうだし、何よりこう、続きが気になってくる👏
        .extra.content
          = image_tag("lp/feedback/helen.jpg", class: 'ui avatar image')
          .right.floated.meta #ブンゴウメール
      .ui.card
        .content
          知ってはいるけど、なんとなく避けていた太宰。
          こういう機会でもないと、一生読まなかっただろうなと思うと感慨深い。
          短いから無理なく読めるし
        .extra.content
          = image_tag("lp/feedback/elyse.png", class: 'ui avatar image')
          .right.floated.meta #ブンゴウメール
      .ui.card
        .content
          毎日育児に追われててもどうにか読める長さが毎日届くの画期的だしありがたすぎる…🙏
        .extra.content
          = image_tag("lp/feedback/stevie.jpg", class: 'ui avatar image')
          .right.floated.meta #ブンゴウメール
      .ui.card
        .content
          ほんの1分で読める量だから、「今日は『反駁』の『駁』を調べてみよう」と辞書を開くきっかけにしたり、一言一句を気まぐれに噛み締めてみたりしている
        .extra.content
          = image_tag("lp/feedback/elliot.jpg", class: 'ui avatar image')
          .right.floated.meta #ブンゴウメール
    .ui.basic.center.aligned.segment
      = link_to 'https://twitter.com/search?q=%23%E3%83%96%E3%83%B3%E3%82%B4%E3%82%A6%E3%83%A1%E3%83%BC%E3%83%AB', target: :_blank do
        %i.icon.chevron.right
        Twitterでみんなの感想を見る

  .ui.mini.divider

  %section.ui.center.aligned.container
    %h2.ui.huge.header
      料金
    %p.sub.header
      現在ブンゴウメールはベータ版のため無料でご利用いただけます。
    .ui.centered.fluid.card
      .ui.secondary.center.aligned.attached.segment
        %h3.ui.small.header FREEプラン
      .content
        .description
          .ui.huge.center.aligned.header
            %span.red 無料
            .sub.header 毎月1冊おまかせ読書
      .left.aligned.content
        .description
          .ui.small.header
            %i.icon.green.check
            毎月1冊おすすめ短編をセレクトして配信
          .ui.small.header
            %i.icon.green.check
            月の途中で登録した場合、作品の途中から届き始めます
          .ui.small.header
            %i.icon.green.check
            メール内に広告が掲載されたり、広告メールが配信される場合があります
      = link_to 'https://goo.gl/forms/oOWiGUaqMckVXgBk2', target: :_blank, class: 'ui bottom attached primary button' do
        %i.icon.mail
        FREEプランに登録する
    .ui.basic.segment
      ※青空文庫作品の商用利用は、
      %a{:href => "https://www.aozora.gr.jp/guide/kijyunn.html", :target => "_blank"}> 青空文庫の規約
      で公式に認められています。
      %br.computer.only
      またこのサービスは青空文庫というすばらしい活動の上に成立するものであるため、
      %br.computer.only
      収益の一部は青空文庫の活動支援に還元する予定です。

  .ui.mini.divider

  %section.ui.container
    %h2.ui.huge.center.aligned.header
      よくある質問
    %br
    .ui.divided.relaxed.items
      .item
        .content
          .header
            登録したけどメールが届かない
          .description
            %p
              お使いのメールソフトによっては、自動で迷惑メールフォルダなどにはいってしまう場合があります。
              特に
              %span.ui.small.red.header> Gmail
              や
              %span.ui.small.red.header> 携帯キャリアアドレス
              をお使いの場合にフィルタされるケースが多いようです。
            %p
              公式ブログに対応方法をご案内しておりますので、メールが届かない場合はこちらを参考にご設定お願いいたします。
              それでも届かない場合は運営までお問い合わせください。
            %p
              %a{:href => "https://bungomail.hatenablog.com/entry/2018/05/21/172542", :target => "_blank"}
                ブンゴウメールからメールを受信できないケースと対応方法について
                %i.icon.link.external
      .item
        .content
          .header
            メール配信を解約したい
          .description
            %p
              解約を希望される場合は、以下の解約フォームに登録いただいているアドレスを入力してください。
            %p
              %a.ui.basic.blue.button{:href => "https://goo.gl/forms/kVz3fE9HdDq5iuA03", :target => "_blank"}
                解約フォーム
                %i.icon.small.external
            %p
              また完全に解約するのではなく、月末まで配信を停止し、翌月から自動的に配信を再開する「一時停止」もできます。
              今回の作品が合わない、今月は忙しくて読めそうにない、などの場合にご活用ください。
            %p
              %a.ui.basic.blue.button{:href => "https://forms.gle/d2gZZBtbeAEdXySW9", :target => "_blank"}
                一時停止フォーム
                %i.icon.small.external
              %br
              %small ※ベータ版のため動作が不安定な場合があります。ご了承ください。
      .item
        .content
          .header
            月の途中で登録したので、それまでの話がわからない
          .description
            %p
              過去の配信分は、
              %a{:href => "https://bungomail.hatenablog.com/", :target => "_blank"} 公式ブログ
              にすべてログとして記録されています。月途中で登録した場合は、公式ブログをご確認いただければ追いつくことができます。
            %p
              もちろん青空文庫にもすべて掲載されていますので、そちらでお読みいただいても結構ですが、全部読んでしまうと楽しみが減ってしまいますのでお気をつけください。
      .item
        .content
          .header
            どうしてもメール以外の手段で読みたい
          .description
            %p
              ご安心ください。そんなあなたのためにRSSフィードを配信しています。
              そのままRSSリーダーで購読したり、Slackなどに連携して読むこともできますね。
              %br/
              %a{:href => "https://blog.bungomail.com/feed", :target => "_blank"} RSSフィード
            %p
              また同じ内容を公式ブログにも配信していますので、もちろんこちらで購読いただくことも可能です。
              %br/
              %a{:href => "https://bungomail.hatenablog.com/", :target => "_blank"} 公式ブログ

  .ui.mini.divider

  %section.ui.center.aligned.container
    %h2.ui.huge.center.aligned.header
      メディア掲載
    %br
    .ui.horizontal.list
      = link_to "https://www.nhk.jp/p/shibu5/ts/X5J7MZMGGY/episode/te/729252Z8XK/", target: :_blank, class: 'item' do
        = image_tag('lp/media/nhk.png', alt: 'NHK', class: 'ui small image')
      = link_to "https://www.j-wave.co.jp/original/colorswonder/entry/200517.html", target: :_blank, class: 'item' do
        = image_tag('lp/media/j-wave.png', alt: 'J-WAVE', class: 'ui small image')
      = link_to "https://gigazine.net/news/20180531-bungomail/", target: :_blank, class: 'item' do
        = image_tag('lp/media/gigazine.png', alt: 'GIGAZINE', class: 'ui small image')
      = link_to "http://nlab.itmedia.co.jp/nl/articles/1804/27/news145.html", target: :_blank, class: 'item' do
        = image_tag('lp/media/nlab.png', alt: 'ねとらぼ', class: 'ui small image')
      = link_to "https://internet.watch.impress.co.jp/docs/yajiuma/1224590.html", target: :_blank, class: 'item' do
        = image_tag('lp/media/internetwatch.png', alt: 'InternetWatch', class: 'ui tiny image')
      = link_to "https://rocketnews24.com/2019/12/11/1303143/", target: :_blank, class: 'item' do
        = image_tag('lp/media/rocketnews.png', alt: 'RocketNews24', class: 'ui small image')
      = link_to "https://kai-you.net/article/69993", target: :_blank, class: 'item' do
        = image_tag('lp/media/kai-you.png', alt: 'KAI-YOU', class: 'ui small image')
      = link_to "https://amp.review/2019/04/08/search-bungomail/", target: :_blank, class: 'item' do
        = image_tag('lp/media/amp.png', alt: 'AMP', class: 'ui small image')
      = link_to "https://www.j-cast.com/trend/2019/04/08354695.html", target: :_blank, class: 'item' do
        = image_tag('lp/media/jcast.png', alt: 'jcast', class: 'ui small image')
      = link_to "https://lamire.jp/148287", target: :_blank, class: 'item' do
        = image_tag('lp/media/lamire.png', alt: 'lamire', class: 'ui tiny image')


  .ui.mini.divider

  %section.ui.container
    %h2.ui.huge.center.aligned.header
      お知らせ
    %br
    .ui.divided.link.items
      = link_to 'https://www.nhk.jp/p/shibu5/ts/X5J7MZMGGY/episode/te/729252Z8XK/', target: :_blank, class: 'item' do
        .image
          = image_tag('lp/news/nhk.jpg', alt: 'NHK ニュース シブ5時')
        .content
          .header NHK「ニュース シブ5時」で紹介いただきました
          .meta 2020年10月29日
          .description
            10/29放送のNHK「ニュース シブ5時」でブンゴウメールを紹介いただきました。

      = link_to 'https://www.amazon.co.jp/dp/4046044519', target: :_blank, class: 'item' do
        .image
          = image_tag('lp/news/episodes.jpg', alt: '文豪どうかしてる逸話集')
        .content
          .header KADOKAWA『文豪どうかしてる逸話集』とコラボしました
          .meta 2020年10月1日
          .description
            進士素丸さん著『文豪どうかしてる逸話集』(KADOKAWA)とコラボし、書籍収録の逸話をブンゴウメールで配信いたしました。

      = link_to 'https://prtimes.jp/main/html/rd/p/000000017.000043723.html', target: :_blank, class: 'item' do
        .image
          = image_tag('lp/news/booqs.png', alt: 'BooQs')
        .content
          .header 英単語学習サービス「BooQs」とコラボしました
          .meta 2020年6月28日
          .description
            英語版「Bungo Search」をリリースし、200万回答突破の人気英単語学習サービス「BooQs」との特設コラボページを開設しました。

      = link_to 'https://www.j-wave.co.jp/original/colorswonder/entry/200517.html', target: :_blank, class: 'item' do
        .image
          = image_tag('lp/news/j-wave.jpg', alt: 'J-WAVE')
        .content
          .header J-WAVE「COLORS OF WONDER」で紹介いただきました
          .meta 2020年5月17日
          .description
            J-WAVE「COLORS OF WONDER」5/17放送回の「いまこそ読書」特集で、ブンゴウメールを紹介いただきました。

      = link_to root_url(subdomain: :search), target: :_blank, class: 'item' do
        .image
          = image_tag('/assets/images/ogp_search.png')
        .content
          .header 「ブンゴウサーチ」をリニューアルしました
          .meta 2020年4月
          .description
            青空文庫の作品を読了時間で検索できる姉妹サービス「ブンゴウサーチ」をリニューアルしました。児童書のみ検索できる新機能も提供しています。

      = link_to campaigns_dogramagra_path, target: :_blank, class: 'item' do
        .image
          = image_tag('/assets/images/campaigns/dogramagra.png')
        .content
          .header 「ドグラ・マグラ365日配信チャレンジ」を開始しました
          .meta 2020年1月~12月
          .description
            日本三大奇書に数えられる一大長編、夢野久作の『ドグラ・マグラ』を1年かけて配信する企画を開始しました。

      = link_to 'https://logmi.jp/business/articles/322767', target: :_blank, class: 'item' do
        .image
          = image_tag('lp/news/book_tech.jpg')
        .content
          .header 「本の"新しい"読み方〜BOOK TECH〜」イベントに登壇しました
          .meta 2019年11月
          .description
            本の新しい読み方を提供するスタートアップ3社のトークイベントに、代表の大西が登壇いたしました。

      = link_to "https://prtimes.jp/main/html/rd/p/000000003.000034248.html", target: :_blank, class: 'item' do
        .image
          = image_tag('/assets/images/campaigns/alterego.jpg')
        .content
          .header 「ALTER EGO」公式コラボを実施しました
          .meta 2019年4月~11月
          .description
            累計50万ダウンロード突破の大人気自分探しタップゲーム「ALTER EGO」との公式コラボを実施しました。

      = link_to "https://prtimes.jp/main/html/rd/p/000000005.000034248.html", target: :_blank, class: 'item' do
        .image
          = image_tag('/assets/images/campaigns/business_model.jpg')
        .content
          .header 『ビジネスモデル2.0図鑑』公式配信を実施しました
          .meta 2019年6月~9月
          .description
            5万部突破の大人気書籍『ビジネスモデル2.0図鑑』全文を公式配信する企画を実施しました。

  .ui.mini.divider

  %section.ui.container
    %h2.ui.huge.center.aligned.header
      スポンサー/コラボパートナー募集
    %br
    .ui.basic.segment.center.aligned
      %p
        ブンゴウメールに共感し、活動を支援してくださる企業様を募集しています。
        %br
        配信メールへの広告掲載やキャンペーン企画の実施など、ご相談の上で柔軟に設計可能です。
        ご興味あればぜひお気軽にお声がけください。
      %p
        またコラボパートナーも随時募集しております。
        %br
        こちらも柔軟なコラボ方法が可能ですので、過去のコラボ実績などをご覧の上、ぜひお気軽にお問い合わせください。
      %br
      %p
        = link_to 'https://goo.gl/forms/jE387feQLYysiv5m2', target: :_blank, class: 'ui blue large responsive button' do
          お問い合わせ

  %section.ui.centered.stackable.grid.secondary.attached.segment
    .ui.row
      .ten.wide.center.aligned.column
        %h2.ui.huge.header
          ブンゴウメールに登録する
        %p.sub.header
          月の途中で登録した場合、月末まで作品の途中から配信されます。
          %br.computer.only/
          %a{:href => "https://bungomail.hatenablog.com/", :target => "_blank"} 公式ブログ
          で追いつくか、翌月初に次の作品が始まるのをお待ちください。
        .mb-10
          = link_to 'https://goo.gl/forms/oOWiGUaqMckVXgBk2', target: :_blank, class: 'ui blue large responsive button' do
            メールアドレスを登録する
            %small （無料）
