-# bg-blue-100 text-blue-800 bg-gray-100 text-gray-800 bg-yellow-100 text-yellow-800 bg-orange-100 text-orange-800 bg-green-100 text-green-800 bg-red-100 text-red-800
%div
  %div(class="mb-4 flex flex-col items-start flex-wrap space-y-2")
    %h1(class="text-2xl font-bold leading-7 sm:text-3xl sm:tracking-tight")
      = link_to_if !current_page?(book_assignment_path(ba)), ba.book.author_and_book_name, book_assignment_path(ba)
    %span(class="inline-flex items-center rounded-full bg-#{ba.status_color}-100 px-2.5 py-0.5 text-xs font-medium text-#{ba.status_color}-800")
      = ba.status

  %ul(class="text-sm flex flex-col sm:flex-row items-start sm:items-center space-x-0 sm:space-x-4 space-y-1 sm:space-y-0")
    %li.flex.items-center.space-x-2
      %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
        %path(stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5")
      %span
        = ba.start_date
        = " 〜 #{ba.end_date}" if ba.end_date != ba.start_date
        = "（全#{ba.count}回）"
    %li.flex.items-center.space-x-2
      %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
        %path(stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z")
      %span= ba.delivery_time.strftime("%H:%M")
    %li.flex.items-center.space-x-2
      %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
        %path(stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5")
      %span= ba.subscriptions.first.delivery_method
