.mb-4
  %h1(class="mb-2 text-xl sm:text-2xl font-bold")
    カスタム配信の停止

.mb-8
  %p.pb-2 以下のカスタム配信を停止します。よろしければ「配信停止」ボタンをクリックしてください。

  %table
    %tr
      %th.pr-2 配信作品
      %td= "#{@ba.book.author}『#{@ba.book.title}』"
    %tr
      %th.pr-2 配信期間
      %td= "#{@ba.start_date} 〜 #{@ba.end_date}"
    %tr
      %th.pr-2 配信時間
      %td= @ba.delivery_time.strftime("%H:%M")

.mb-8
  = button_to '配信を停止する', book_assignment_path(@ba), method: :delete, data: { turbo: false }, class: "block text-center mb-2 rounded bg-red-600 text-white py-4 w-full hover:bg-red-500 cursor-pointer"
