<!-- Header -->
<header class="bg-transparent absolute w-full z-10">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex items-center gap-x-12">
      <a href="#" class="flex items-center space-x-4">
        <img class="inline-block h-8 w-8 sm:h-10 sm:w-10 rounded-full shadow" src="/favicon.ico" alt="">
        <img class="h-8 w-auto sm:h-8" src="/assets/images/logo_text.png" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex flex-1 items-center justify-end gap-x-6">
      <a href="#" class="hidden lg:block lg:text-sm lg:font-semibold lg:leading-6 lg:text-gray-900">ログイン</a>
      <a href="#" class="rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">アカウント登録</a>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>

            <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>

            <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>

            <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
          </div>

          <div class="flex flex-1 items-center justify-end gap-x-6">
            <a href="#" class="hidden lg:block lg:text-sm lg:font-semibold lg:leading-6 lg:text-gray-900">Log in</a>
            <a href="#" class="rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Hero Secrions -->
<div class="relative overflow-hidden bg-gray-50 pt-24 pb-12 sm:py-0" style="background-image: url('/assets/images/seigaiha.png')">
  <!--
  <div class="hidden sm:absolute sm:inset-y-0 sm:block sm:h-full sm:w-full" aria-hidden="true">
    <div class="relative mx-auto h-full max-w-7xl">
      <svg class="absolute right-full translate-y-1/4 translate-x-1/4 transform lg:translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="4522f7d5-8e8c-43ee-89bd-ad34cbfb07fa" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#4522f7d5-8e8c-43ee-89bd-ad34cbfb07fa)" />
      </svg>
      <svg class="absolute left-full -translate-y-3/4 -translate-x-1/4 transform md:-translate-y-1/2 lg:-translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784">
        <defs>
          <pattern id="5d0dd344-b041-4d26-bec4-8d33ea57ec9b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)" />
      </svg>
    </div>
  </div>
  -->

  <div class="relative pt-6">
    <div class="mx-auto max-w-7xl px-6 py-18 sm:py-20 lg:flex lg:items-center lg:gap-x-10 lg:px-8 lg:py-24">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-6xl sm:leading-tight">
          1日3分のメールで、
          <br class="hidden lg:block" />
          ムリせず毎月本が読める
        </h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          青空文庫の作品を小分けにして、毎日メールで配信。
          <br class="hidden lg:block" />
          気づいたら毎月1冊本が読めてしまう、
          <br class="hidden lg:block" />
          忙しいあなたのための読書サポートサービスです。
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <form class="w-full max-w-lg lg:col-span-5 lg:pt-2">
            <div class="flex gap-x-4">
              <label for="email-address" class="sr-only">メールアドレス</label>
              <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="メールアドレス">
              <button type="submit" class="flex-none rounded-md bg-indigo-600 py-3 px-4 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">アカウント登録（無料）</button>
            </div>
            <p class="mt-4 text-xs leading-6 text-gray-900">
              アカウント登録によって
              <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">利用規約</a>
              と
              <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">プライバシーポリシー</a>
              に同意したものとみなします。
            </p>
          </form>
        </div>
      </div>
      <div class="mt-16 sm:mt-24 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
        <svg viewBox="0 0 366 729" role="img" class="mx-auto w-[22.875rem] max-w-full drop-shadow-xl">
          <title>App screenshot</title>
          <defs>
            <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
              <rect width="316" height="684" rx="36" />
            </clipPath>
          </defs>
          <path fill="#4B5563" d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z" />
          <path fill="#343E4E" d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z" />
          <foreignObject width="316" height="684" transform="translate(24 24)" clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
            <img src="https://tailwindui.com/img/component-images/mobile-app-screenshot.png" alt="" />
          </foreignObject>
        </svg>
      </div>
    </div>
  </div>
</div>

<!-- Banner -->
<div class="text-center gap-x-6 bg-gray-900 py-2.5 px-6 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-6 text-white">
    <strong class="font-semibold">【メディア掲載】</strong>
    NHK「ニュースシブ5時」でブンゴウメールが紹介されました🎉
  </p>
</div>

<!-- Features -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-12 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 sm:w-10 sm:h-10 mb-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" />
            </svg>
            最近、仕事以外の本読みました？
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">
              忙しいと、すぐに役立つ知識ばかり仕入れがち。なかなか仕事以外の本を読む時間が取れなかったりしませんか。
            </p>
          </dd>
        </div>

        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 sm:w-10 sm:h-10 mb-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
            </svg>
            でも毎日メールは読んでますよね
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">
              じゃあそのメールで本が読めたらどうでしょう。1〜3分程度のメールが1通増えるだけなので大丈夫。あなたならきっと読めます。
            </p>
          </dd>
        </div>

        <div class="flex flex-col">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 sm:w-10 sm:h-10 mb-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
            </svg>
            せっかくなら教養になる名作を
          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-600">
            <p class="flex-auto">
              名前は知ってるけど読んでなかった名作、青空文庫にはいっぱいあります。普段自分では選ばない本を読めるのもいいものです。
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>


<!-- Examples -->
<div class="bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto text-center">
      <p class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
        Example
      </p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight sm:leading-tight text-gray-900 sm:text-4xl">
        たとえば、1年でこれだけの本が読めます
      </h2>
      <p class="mt-6 leading-8 text-gray-600">
        1日3分のメールを読み続けるだけで、1年ではこれだけの作品を読むことができます。
        <div class="text-xs text-center mt-2">
          （あくまで一例なので、実際に配信する内容とは異なります）
        </div>
      </p>
    </div>

    <div class="mt-8 grid grid-cols-2 gap-4 sm:grid-cols-4">
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">芥川龍之介</p>
          <p class="truncate text-sm text-gray-500">藪の中</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">萩原朔太郎</p>
          <p class="truncate text-sm text-gray-500">月に吠える</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">新美南吉</p>
          <p class="truncate text-sm text-gray-500">ごん狐</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">坂口安吾</p>
          <p class="truncate text-sm text-gray-500">堕落論</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">太宰治</p>
          <p class="truncate text-sm text-gray-500">ヴィヨンの妻</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">宮沢賢治</p>
          <p class="truncate text-sm text-gray-500">銀河鉄道の夜</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">カフカ</p>
          <p class="truncate text-sm text-gray-500">断食芸人</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">森鴎外</p>
          <p class="truncate text-sm text-gray-500">高瀬舟</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">夏目漱石</p>
          <p class="truncate text-sm text-gray-500">夢十夜</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">中島敦</p>
          <p class="truncate text-sm text-gray-500">山月記</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">泉鏡花</p>
          <p class="truncate text-sm text-gray-500">外科室</p>
        </div>
      </div>
      <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-4 shadow-sm">
        <div>
          <p class="font-bold text-gray-900 mb-1">林芙美子</p>
          <p class="truncate text-sm text-gray-500">風琴と魚の町</p>
        </div>
      </div>
    </div>

    <div class="text-center mt-8">
      <%= link_to "これまでの配信作品はこちら", "/lists/9399756/books?year=2018", class: "text-link" %>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto text-center">
      <p class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
        User's Voice
      </p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight sm:leading-tight text-gray-900 sm:text-4xl">
        これまで2万人以上の方が
        <br class="hidden sm:block" />
        ブンゴウメールで読書を続けています
      </h2>
    </div>
    <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 sm:text-[0] flex flex-col sm:flex-row">
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>
                短くて読みやすい…！ささっと読めるちょうどいい長さだから毎日続けられそうだし、何よりこう、続きが気になってくる👏
              </p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img class="h-10 w-10 rounded-full bg-gray-50" src="/assets/images/lp/feedback/helen.jpg" alt="">
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>
                知ってはいるけど、なんとなく避けていた太宰。 こういう機会でもないと、一生読まなかっただろうなと思うと感慨深い。短いから無理なく読めるし。
              </p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img class="h-10 w-10 rounded-full bg-gray-50" src="/assets/images/lp/feedback/elyse.png" alt="">
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>
                毎日育児に追われててもどうにか読める長さが毎日届くの画期的だしありがたすぎる…🙏
              </p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img class="h-10 w-10 rounded-full bg-gray-50" src="/assets/images/lp/feedback/stevie.jpg" alt="">
            </figcaption>
          </figure>
        </div>
        <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
          <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
            <blockquote class="text-gray-900">
              <p>
                ほんの1分で読める量だから、「今日は『反駁』の『駁』を調べてみよう」と辞書を開くきっかけにしたり、一言一句を気まぐれに噛み締めてみたりしている
              </p>
            </blockquote>
            <figcaption class="mt-6 flex items-center gap-x-4">
              <img class="h-10 w-10 rounded-full bg-gray-50" src="/assets/images/lp/feedback/elliot.jpg" alt="">
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Plan/Price -->
<div class="bg-gray-50 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto text-center">
      <p class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
        Pricing
      </p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight sm:leading-tight text-gray-900 sm:text-4xl">
        料金プラン
      </h2>
    </div>
    <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600 sm:text-center">Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.</p>

    <div class="mt-20 flow-root">
      <div class="isolate -mt-16 grid max-w-sm grid-cols-1 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-y-0 lg:divide-x xl:-mx-4">
        <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
          <h3 id="tier-basic" class="text-base font-semibold leading-7 text-gray-900">Free</h3>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span class="text-5xl font-bold tracking-tight text-gray-900">無料</span>
            <span class="text-sm font-semibold leading-6 text-gray-600">/月</span>
          </p>
          <p class="mt-3 text-sm leading-6 text-gray-500">税込0円/月</p>
          <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">Everything necessary to get started.</p>
          <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
            <li class="flex items-center gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <div class="flex items-center space-x-1">
                <span>同時配信数:</span>
                <span class="text-lg font-bold">1</span>
              </div>
            </li>

            <li class="flex items-center gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <div class="flex items-center space-x-1">
                <span>カスタム配信機能</span>
              </div>
            </li>

            <li class="flex items-center gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              <div class="flex items-center space-x-1">
                <span>配信方法:</span>
                <span class="text-lg font-bold">RSS, Webプッシュ</span>
              </div>
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              48-hour support response time
            </li>
          </ul>
        </div>

        <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
          <h3 id="tier-essential" class="text-base font-semibold leading-7 text-gray-900">Basic</h3>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span class="text-5xl font-bold tracking-tight text-gray-900">¥350</span>
            <span class="text-sm font-semibold leading-6 text-gray-600">/月</span>
          </p>
          <p class="mt-3 text-sm leading-6 text-gray-500">税込385円/月</p>
          <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">Everything in Basic, plus essential tools for growing your business.</p>
          <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              25 products
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Up to 10,000 subscribers
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Advanced analytics
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              24-hour support response time
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Marketing automations
            </li>
          </ul>
        </div>

        <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
          <h3 id="tier-growth" class="text-base font-semibold leading-7 text-gray-900">Pro</h3>
          <p class="mt-6 flex items-baseline gap-x-1">
            <span class="text-5xl font-bold tracking-tight text-gray-900">¥500</span>
            <span class="text-sm font-semibold leading-6 text-gray-600">/月</span>
          </p>
          <p class="mt-3 text-sm leading-6 text-gray-500">税込550円/月</p>
          <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">Everything in Essential, plus collaboration tools and deeper insights.</p>
          <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Unlimited products
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Unlimited subscribers
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Advanced analytics
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              1-hour, dedicated support response time
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Marketing automations
            </li>

            <li class="flex gap-x-3">
              <svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
              </svg>
              Custom reporting tools
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CTA -->
<div class="bg-gray-900 py-16 sm:py-24 lg:py-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-10 px-6 lg:grid-cols-12 lg:gap-8 lg:px-8">
    <div class="max-w-xl text-3xl font-bold tracking-tight text-white sm:text-4xl lg:col-span-7">
      <p class="inline sm:block lg:inline xl:block sm:leading-tight">
        アカウントを登録して
        <br class="hidden sm:block" />
        無料プランからお試しください
      </p>
    </div>
    <form class="w-full max-w-md lg:col-span-5 lg:pt-2">
      <div class="flex gap-x-4">
        <label for="email-address" class="sr-only">メールアドレス</label>
        <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="メールアドレス">
        <button type="submit" class="flex-none rounded-md bg-indigo-500 py-2.5 px-3.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">アカウント登録（無料）</button>
      </div>
      <p class="mt-4 text-xs leading-6 text-gray-300">
        アカウント登録によって
        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">利用規約</a>
        と
        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">プライバシーポリシー</a>
        に同意したものとみなします。
      </p>
    </form>
  </div>
</div>

<!-- Logo Clouds -->
<div class="bg-white py-12 sm:py-8 border-b border-gray-50">
  <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
    <div class="mx-auto text-center">
      <p class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
        Publications
      </p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight sm:leading-tight text-gray-900 sm:text-4xl">
        メディア掲載実績
      </h2>
    </div>

    <div class="mt-20 mx-auto max-w-lg flex flex-wrap items-center justify-center space-x-0 sm:max-w-xl sm:space-x-8 lg:mx-0 lg:max-w-none">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/nhk.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/j-wave.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/gigazine.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/nlab.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/internetwatch.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/rocketnews.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/kai-you.png" alt="Transistor" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/mynavi.png" alt="Statamic" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/amp.png" alt="Statamic" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/jcast.png" alt="Statamic" width="158" height="48">
      <img class="block max-h-8 sm:max-h-12 object-contain mb-4" src="/assets/images/lp/media/lamire.png" alt="Statamic" width="158" height="48">
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
    <div class="mx-auto text-center">
      <p class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
        FAQ
      </p>
      <h2 class="mt-2 text-3xl font-bold tracking-tight sm:leading-tight text-gray-900 sm:text-4xl">
        よくある質問
      </h2>
    </div>

    <div class="mt-20">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            配信される作品は選べないのですか？
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            <p>ブンゴウメールは毎月1冊おまかせで作品が選ばれ、全員が同じ作品を同時に読むことも特徴となっています。 そのためこのおまかせ配信に関しては作品を変更することはできません。</p>
            <p>ただし有料プランユーザーは、月1冊のおまかせ配信とは別に自分で好きな作品を選んで配信する「カスタム配信機能」も利用することができます。 どうしても本編の作品が合わない場合や、他に読みたい作品がある場合などはぜひこちらもご活用ください。</p>
            <div class="my-2">
              <%= link_to "カスタム配信機能を利用する（有料プラン）", page_path(:custom_delivery), class: "text-link" %>
            </div>
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            登録したけどメールが届きません
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            <p>
              お使いのメールソフトによっては、自動で迷惑メールフォルダなどにはいってしまう場合があります。 特にGmailや携帯キャリアアドレスをお使いの場合にフィルタされるケースが多いようです。
            </p>
            <p>
              公式ブログに対応方法をご案内しておりますので、メールが届かない場合はこちらを参考にご設定お願いいたします。
            </p>
            <div class="my-2">
              <%= link_to "ブンゴウメールからメールを受信できないケースと対応方法について", "https://blog.bungomail.com/entry/2018/05/21/172542", class: "text-link", target: :_blank %>
            </div>
            <p>
              またブンゴウメールでは毎月1日から新しい作品を配信するため、無料トライアルも登録日の 翌月1日から配信開始 するようになっています。 月中に登録された場合は翌月初まで配信されませんので、配信開始までしばらくお待ちください。
            </p>
            <p>
              上記すべて確認してもメールが届かない場合は、お手数ですが運営までお問い合わせいただければ幸いです。
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            有料プランを解約したいのですが
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            <p>
              解約を希望される場合は、「お支払い情報の管理」ページでご登録いただいているアドレスを入力してください。 お支払情報を管理するためのセキュアなURLをメールでお送りします。
            </p>
            <div class="my-2">
              <%= link_to "お支払い情報の管理（利用者メニュー）", memberships_edit_path, class: "text-link" %>
            </div>
            <p>
              解約をお申し込みいただくと、月末まで配信を続けたあと翌月の更新を行わず自動的に契約を終了します。 配信もすぐに停止したい場合はお手数ですが運営までお問い合わせください。 その場合も当月分の料金は返金されませんのでご了承ください。
            </p>
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            登録したメールアドレスを変更できますか？
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            はい、可能です。メールアドレスの変更を希望される場合は、お手数ですが運営までお問い合わせください。
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            配信されたメールの文面などをSNSでシェアしても大丈夫ですか？
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            <p>
              ブンゴウメールで配信しているのは著作権の切れたパブリックドメインの作品であるため、配信された文章をSNS等にシェアいただいても基本的には問題ありません。 また今月はどの作品が配信されている、などの情報もシェアして頂いて大丈夫です。
            </p>
            <p>
              ただ毎月の選本およびメールの分割配信システムはブンゴウメール運営によるものですので、その点は尊重いただけると幸いです。 具体的には、「毎日すべての配信内容をシェアする」「メール配信を第三者に転送する」などの行為はお控えいただきますようお願いいたします。
          </dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-gray-900">
            ブンゴウメールは無料で利用できますか？
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            <p>
              大変申し訳ありませんが、現在ブンゴウメールの利用は原則有料となっております。 メールでの配信内容はRSSフィードで無料公開もしていますので、無料での利用をご希望の場合はこちらもご活用ください。
            </p>
            <div class="my-2">
              <%= link_to "RSSフィード", feed_channel_path("bungomail-official"), class: "text-link", target: :_blank %>
            </div>
            <p>
              なおブンゴウメール本編とは別に、無料の企画配信なども不定期に行っています。 配信開始の際は公式Twitterなどでお知らせしますので、興味のある方はぜひチェックしてみてください。
            </p>
            <div class="my-2">
              <%= link_to "ブンゴウメール公式Twitter", "https://twitter.com/bungomail", class: "text-link", target: :_blank %>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!-- News -->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <div class="mx-auto text-center">
        <p class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">
          News
        </p>
        <h2 class="mt-2 text-3xl font-bold tracking-tight sm:leading-tight text-gray-900 sm:text-4xl">
          お知らせ
        </h2>
      </div>

      <div class="mt-16 space-y-8 lg:mt-20 lg:space-y-8">
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/lp/news/nhk.jpg" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2020-10-29</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                メディア掲載
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  NHK「ニュース シブ5時」で紹介いただきました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                10/29放送のNHK「ニュース シブ5時」でブンゴウメールを紹介いただきました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/lp/news/episodes.jpg" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2020-10-01</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                コラボ
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  KADOKAWA『文豪どうかしてる逸話集』とコラボしました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                進士素丸さん著『文豪どうかしてる逸話集』(KADOKAWA)とコラボし、書籍収録の逸話をブンゴウメールで配信いたしました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/lp/news/booqs.png" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2020-06-28</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                コラボ
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  英単語学習サービス「BooQs」とコラボしました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                英語版「Bungo Search」をリリースし、200万回答突破の人気英単語学習サービス「BooQs」との特設コラボページを開設しました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/lp/news/j-wave.jpg" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2020-05-17</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                メディア掲載
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  J-WAVE「COLORS OF WONDER」で紹介いただきました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                J-WAVE「COLORS OF WONDER」5/17放送回の「いまこそ読書」特集で、ブンゴウメールを紹介いただきました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/ogp_search.png" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2020-04-01</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                機能追加
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  「ブンゴウサーチ」をリニューアルしました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                青空文庫の作品を読了時間で検索できる姉妹サービス「ブンゴウサーチ」をリニューアルしました。児童書のみ検索できる新機能も提供しています。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/channels/dogramagra.png" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2020-01-01</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                イベント
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  「ドグラ・マグラ365日配信チャレンジ」を開始しました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                日本三大奇書に数えられる一大長編、夢野久作の『ドグラ・マグラ』を1年かけて配信する企画を開始しました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/lp/news/book_tech.jpg" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2019-10-18</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                イベント
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  「本の"新しい"読み方〜BOOK TECH〜」イベントに登壇しました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                本の新しい読み方を提供するスタートアップ3社のトークイベントに、代表の大西が登壇いたしました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/channels/business-model.png" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2019-06-01</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                コラボ
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  『ビジネスモデル2.0図鑑』公式配信を実施しました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                5万部突破の大人気書籍『ビジネスモデル2.0図鑑』全文を公式配信する企画を実施しました。
              </p>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-48 lg:shrink-0">
            <img src="/assets/images/channels/alterego.png" alt="" class="absolute inset-0 h-full w-full rounded bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-10-29" class="text-gray-500">2019-04-01</time>
              <span class="relative z-10 rounded-full bg-gray-50 py-1.5 px-3 font-medium text-gray-600 hover:bg-gray-100">
                コラボ
              </span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  「ALTER EGO」公式コラボを実施しました
                </a>
              </h3>
              <p class="mt-2 text-sm leading-6 text-gray-600">
                累計50万ダウンロード突破の大人気自分探しタップゲーム「ALTER EGO」との公式コラボを実施しました。
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
