<div class="mb-4">
  <%= render "header", active_step: 1 %>
</div>

<div class="mb-12 text-sm text-gray-500">
  <p>青空文庫に登録されている以下の作品の中から、配信したい作品を選んでください。</p>
</div>

<div class="mb-8">
  <%= form_with url: books_path, method: :get, local: true, class: "flex flex-col sm:flex-row items-center space-x-0 sm:space-x-2 space-y-2 sm:space-y-0" do |f| %>
    <%= f.text_field :keyword, value: @keyword, class: 'w-full border border-gray-200 rounded px-3 py-3 text-sm focus:outline-none focus:border-blue-500', placeholder: "作品名または著者名" %>
    <%= f.select :category, AozoraBook::CATEGORIES.map{|m| [m[1][:name], m[0]] }, { selected: @category }, class: 'w-full sm:w-auto border border-gray-200 rounded px-3 py-3 text-sm focus:outline-none focus:border-blue-500' %>
    <%= f.submit "検索", class: 'flex-1 rounded block w-full py-3 px-4 bg-blue-600 text-white text-sm hover:opacity-75' %>
  <% end %>
</div>
<div class="flex text-xs font-bold bg-gray-50 px-2 sm px-4 py-4 rounded-t border-t border-r border-l border-gray-100">
  <div class="w-1/3"><%= t :title, scope: [:search, :defaults] %></div>
  <div class="w-1/3"><%= t :author, scope: [:search, :defaults] %></div>
  <div class="w-1/2 flex justify-between">
    <%= t :minutes_to_read, scope: [:search, :defaults] %>
    <div class="block">
      <%= t :popularity, scope: [:search, :defaults] %>
    </div>
  </div>
</div>
<div class="border-r border-l border-t border-gray-100 rounded-b mb-4">
  <% if @books.blank? %>
    <div class="border-b border-gray-100 text-sm py-3">
      <%= t 'no_results', scope: [:search, :books, :index] %>
    </div>
  <% end %>
  <%= render partial: 'row', collection: @books, as: :book, locals: { category: @category } %>
</div>
<div class="flex justify-between items-end mb-4">
  <div class="text-xs">
    <%= t(:search_offset, scope: [:search, :books, :index], from: @books.offset_value + 1, to: @books.offset_value + @books.length, count: @books.total_count.to_formatted_s(:delimited)) %>
  </div>
</div>
<div class="flex justify-center mb-8">
  <%= paginate @books, window: 2 %>
</div>
