.mb-4
  %h1.font-bold.text-xl.sm:text-2xl.mb-2
    = @meta_title
  .text-sm
    %p= @search_page_description

.flex.justify-between.items-end.mb-4
  .text-xs
    = t(:search_offset, scope: [:search, :books, :index], from: @books.offset_value + 1, to: @books.offset_value + @books.length, count: @books.total_count.to_formatted_s(:delimited))

.flex.text-xs.font-bold.bg-gray-50.px-2.sm:px-4.py-4.rounded-t.border-t.border-r.border-l.border-gray-100
  %div(class="w-1/3 sm:w-1/4")= t :title, scope: [:search, :defaults]
  %div(class="w-1/3 sm:w-1/5")= t :author, scope: [:search, :defaults]
  %div(class="w-1/2 sm:w-1/5 flex justify-between")
    = t :minutes_to_read, scope: [:search, :defaults]
    .block.sm:hidden= t :popularity, scope: [:search, :defaults]
  .hidden.sm:block(class="w-1/12")= t :popularity, scope: [:search, :defaults]
  .hidden.sm:block(class="w-1/4")= t :beginning, scope: [:search, :defaults]

%div.border-r.border-l.border-t.border-gray-100.rounded-b.mb-4
  - if @books.blank?
    .border-b.border-gray-100.text-sm.py-3
      = t 'no_results', scope: [:search, :books, :index]
  = render partial: 'row', collection: @books, as: :book, locals: { category: @category }

.text-xs.mb-4
  = t 'copyright_reserved.html', scope: [:search, :books, :index]

.flex.justify-center.mb-8
  = paginate @books, window: 2

.mb-4.text-center
  .hidden(class="lg:block")
    - if Rails.env.production?
      %ins(class="adsbygoogle"
        style="display:inline-block;width:728px;height:100px"
        data-ad-client="ca-pub-7840479109197513"
        data-ad-slot="4898448160")
      %script
        (adsbygoogle = window.adsbygoogle || []).push({});
    - else
      .flex.items-center.justify-center.bg-gray-700.w-full.text-white(style="height:100px")
        広告枠
