- if current_user.blank?
  .mb-8.px-4.py-2.rounded.bg-yellow-50.border.border-yellow-500.text-yellow-700.flex.items-center.space-x-2
    %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1")
      %path(stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z")
    %div
      作品を配信するためには
      = link_to "アカウント登録", signup_path, class: "text-link"
      または
      = link_to "ログイン", login_path, class: "text-link"
      が必要です

.mb-4
  = render "books/header", active_step: 2

%div(class="mb-12 text-sm text-gray-500")
  %p 配信する期間や時間などを登録して、配信を予約してください。

.mb-12
  = render "campaigns/banner", campaign: @campaign

= form_with model: @campaign, local: true do |f|
  = f.hidden_field :book_id, value: @book.id
  = f.hidden_field :book_type, value: 'AozoraBook'
  = f.hidden_field :title, value: @book.title
  = f.hidden_field :file_id, value: @book.fileId
  = f.hidden_field :author_name, value: @book.author_name
  = f.hidden_field :color, value: @campaign.color
  = f.hidden_field :pattern, value: @campaign.pattern

  .mb-12
    .mb-8
      %h5.mb-4.font-bold 配信期間
      .border.rounded.bg-gray-50.p-2.mb-4
        = @book.wordsCount.to_fs(:delimited)
        %small.text-xs 文字
        .inline
          .inline.text-sm （配信期間の目安:
          .inline.text-red-600= @book.recommended_duration
          .inline.text-sm ）
      %div(class="flex sm:items-center flex-col sm:flex-row sm:space-x-2")
        = f.date_field :start_date, min: Date.current.tomorrow, required: true, class: 'border border-gray-200 rounded p-2 flex-1'
        %div(class="text-center rotate-90 sm:rotate-0") 〜
        = f.date_field :end_date, min: Date.current.tomorrow, max: Date.tomorrow.since(12.months), required: true, class: 'border border-gray-200 rounded p-2 flex-1'
      %small.text-xs ※配信予約は最長で12ヶ月先までです
    .mb-8
      %h5.mb-2.font-bold 配信時間
      = f.time_field :delivery_time, class: 'border border-gray-200 rounded w-full p-2', placeholder: '07:00', min: '05:00', max: '23:00', step: 1800
      %small.text-xs ※配信時間は5:00~23:00の間で指定可能です（実際の配信には数分程度の誤差があります）
    .mb-8
      %h5.mb-2.font-bold 受信方法
      %div
        - if current_user.blank?
          = f.select :delivery_method,
            options_for_select(Subscription.delivery_methods),
            required: true,
            class: 'border border-gray-200 rounded w-full p-2'
        - else
          - if current_user.fcm_device_token.blank?
            .px-4.py-2.rounded.bg-yellow-50.border.border-yellow-500.text-yellow-700.flex.items-center.space-x-2
              %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
                %path(stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z")
              %div
                配信を受け取るには
                = link_to "プッシュ通知の設定", mypage_path, class: "text-link"
                が必要です
          - else
            = f.select :delivery_method,
              options_for_select(Subscription.delivery_methods, selected: "webpush", disabled: ["email"]),
              required: true,
              class: 'border border-gray-200 rounded w-full p-2'
  .mb-4
    - disabled = !current_user || @book.rightsReserved || current_user.fcm_device_token.blank?
    = f.submit '配信を予約する', class: "mb-2 rounded bg-red-600 text-white py-4 w-full #{disabled ? 'opacity-50' : 'hover:bg-red-500 cursor-pointer'}", disabled: disabled
    - if @book.rightsReserved
      .text-xs ※この作品は著作権が存続しているため、カスタム配信はご利用になれません。

- if request.referer
  = link_to :back, class: 'text-link inline-flex items-center space-x-1 mb-8' do
    %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
      %path(stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5")
    %span 一覧に戻る
