.mb-8
  %h1(class="mb-2 text-xl sm:text-2xl font-bold")
    = @book.title
  .text-gray-500.text-large
    = @book.author

= form_with model: @book_assignment, local: true do |f|
  = f.hidden_field :book_id, value: @book.id
  = f.hidden_field :book_type, value: 'AozoraBook'
  .mb-4
    %h5.mb-2.font-bold 配信先
    = f.email_field :email, required: true, class: 'border rounded w-full p-2', placeholder: 'メールアドレス'
    %small.text-xs ※有料プランに登録済みのメールアドレスを入力してください
  .mb-8
    %h5.mb-2.font-bold 配信期間
    %div(class="flex sm:items-center flex-col sm:flex-row sm:space-x-2")
      = f.date_field :start_date, min: Date.current.tomorrow, required: true, class: 'border rounded p-2 flex-1'
      .text-center 〜
      = f.date_field :end_date, min: Date.current.tomorrow, max: Date.tomorrow.since(6.months), required: true, class: 'border rounded p-2 flex-1'
    %small.text-xs ※同じ期間に複数の配信を予約することはできません。また配信予約は最長で6ヶ月先までです。
  = f.submit '配信を予約する', class: 'rounded bg-red-600 text-white py-4 w-full cursor-pointer hover:bg-red-500'
