.mb-8
  %h1.font-bold.text-2xl
    購読済みの配信

.mb-12
  %div
    %div
      %div{class: "border-b border-gray-200"}
        %nav{class: "-mb-px flex space-x-8", 'aria-label': "Tabs"}
          - if params[:finished].present?
            = link_to "配信中/配信予定", subscriptions_path, class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
            %a{href: "#", class: "border-indigo-500 text-indigo-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium", 'aria-current': "page"} 配信終了
          - else
            %a{href: "#", class: "border-indigo-500 text-indigo-600 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium", 'aria-current': "page"} 配信中/配信予定
            = link_to "配信終了", subscriptions_path(finished: true), class: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"

  .mt-4
    - if @campaigns.present?
      %ul.mb-8
        - @campaigns.each do |campaign|
          %li
            = link_to campaign_path(campaign), class: "flex justify-between space-x-4 items-center hover:bg-gray-50 px-2 py-3" do
              .space-y-1
                .flex.space-x-2.items-center
                  .rounded.w-4.h-4(class="bg-#{campaign.color}-700")
                  .flex-1.font-bold= campaign.author_and_book_name
                  - if campaign.user != current_user
                    %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4")
                      %path(stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z")

                .text-gray-400.text-xs.truncate
                  = "#{campaign.start_date.strftime("%Y年%-m月%-d日")} 〜 #{campaign.end_date.strftime("%Y年%-m月%-d日")}"
              %div
                %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500")
                  %path(stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5")
      = paginate @campaigns

    - else
      %div.text-gray-500.py-4
        データがありません。
        = link_to "新規配信の作成", books_path, class: "text-link"
        から、好きな作品を探して配信を予約してください。
