%div(class="hidden sm:block")
  .mb-8
    %ul.space-y-2
      - active_class = 'bg-gray-100 text-gray-900 font-bold'
      %li
        = link_to books_path, class: "px-4 py-3 block text-gray-700 hover:text-gray-900 hover:bg-gray-100 rounded flex items-center space-x-2 #{ controller.controller_name == 'books' && active_class }" do
          %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
            %path(stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15")
          %span 新規配信の作成
      %li
        = link_to distributions_path, class: "px-4 py-3 block text-gray-700 hover:text-gray-900 hover:bg-gray-100 rounded flex items-center space-x-2 #{ controller.controller_name == 'distributions' && active_class }" do
          %svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
            %path(stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z")
          %span 購読済み配信の管理

  %hr.mb-8

  .mb-8
    %h5.font-bold.mb-2
      %svg(class="inline w-6 h-6 fill-current" focusable="false" viewBox="0 0 24 24" aria-hidden="true")
        %path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
      ブンゴウサーチ
    .mb-2
      = link_to 'https://bungo-search.com', target: :_blank do
        = image_tag('/assets/images/ogp_search.png', alt: 'ブンゴウサーチ', class: 'rounded')
    .text-sm
      青空文庫の作品を目安の読了時間で検索できる姉妹サービスです。
    = link_to nil, 'https://bungo-search.com', target: :_blank, class: 'text-link'
